.background-cat {
  @media (max-width: 767px) {
    &--mobile {
      position: relative;
    }

    &--mobile::after,
    &--mobile::before {
      content: "";
      width: 100%;
      height: 302px;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      background-color: $background-green;
      z-index: -1;
    }

    &--mobile::after {
      top: 0;
      background-image: url("../../images/main-back-cat@1x.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -2;

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/main-back-cat@2x.jpg");
      }
    }
  }

  @media (min-width: 1440px) {
    &--desktop {
      position: relative;
    }

    &--desktop::after,
    &--desktop::before {
      content: "";
      width: 50%;
      height: 694px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: $background-green;
    }

    &--desktop::before {
      background-color: $background-green;
      z-index: -1;
    }

    &--desktop::after {
      top: 0;
      background-image: url("../../images/main-back-cat@1x.jpg");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $background-green;
      z-index: -2;

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/main-back-cat@2x.jpg");
      }
    }
  }
}
