.costs {
  text-align: center;
}

.costs__title,
.costs__content {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .costs__title,
  .costs__content {
    font-size: 20px;
    line-height: 20px;
  }
}
