.main-header {
  @include display-flex;
  position: relative;
  min-height: 39px;
  background-color: $white;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $basic-light-gray3;
    position: absolute;
    bottom: -1px;
  }

  .container {
    margin: 12px 20px;

    @media (min-width: $tablet-width) {
      margin: 25px 30px 0;
    }

    @media (min-width: $desktop-width) {
      margin: 55px 110px 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    background: none;

    &::after {
      display: none;
    }
  }

  .main-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    background: none;

    &::after {
      display: none;
    }
  }

}
