.logotype__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 42px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;

    @include link-bg;
  }

  @media ($tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 174px;
    height: 50px;
  }

  @media ($desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 202px;
  }
}

.logotype__name {
  width: 101px;
  transform: translateX(50%);

  @media (min-width: $tablet-width) {
    margin-left: 13px;
    margin-bottom: 0;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 14px;
    padding-bottom: 0;
    width: 118px;
  }
}
