
.main-nav__list {
  background-color: $white;
  list-style: none;
}

.main-nav__link {
  color: $black;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
