.main-nav {
  position: relative;
}

.main-nav__list {
  position: absolute;
  font-family: "oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  background-color: $white;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    width: 436px;
    min-height: 50px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    line-height: 30px;
    width: 478px;
  }
}

.main-nav__item {
  border-bottom: 1px solid $basic-light-gray2;
  padding: 22px 0 24px;

  @media (min-width: $tablet-width) {
    padding-left: 33px;
    padding-top: 30px;
    border-top: none;

    &:nth-child(1) {
      padding-left: 0;
      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 33px;
    padding-top: 25px;

    &-:nth-child(1) {
      padding-left: 0;
    }
  }
}

.main-nav__link {
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    color: $black;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.main-nav--closed {
  .main-nav__list {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  .main-nav__toggle {
    width: 24px;
    height: 24px;
    background-image: url("../../icons/burger-button.svg");
  }
}

.main-nav--opened {
  .main-nav__list {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  .main-nav__close-button {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 18px;
    background-image: url("../../icons/cross-for-close-mob-menu.svg");
  }
}

.main-nav__item--current {
  border-bottom: 2px solid $basic-green;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $white;
    padding-bottom: 6px;
  }
}
