.main-footer {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  background-color: $basic-gray;

  .main-footer__item {
    padding: 20px 0;
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $basic-light-gray3;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:last-child::after {
      display: none;
    }
  }

  .main-footer__logotype {
    display: flex;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    padding: 55px 0;

    .main-footer__list {
      display: flex;
      justify-content: space-between;
    }

    .main-footer__item {
      display: flex;
      align-items: center;
      padding: 0;
    }

    .main-footer__item::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/html-logotype.svg");
    mask-repeat: no-repeat;
    mask-size: 27px 34px;
    background-color: $basic-dark-gray3;
  }

  &:hover {
    &::after {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__text {
  color: $basic-dark-gray;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
