.map {
  height: 362px;
  background-image: url("../../images/maps-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../../images/maps-desktop@2x.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    background-image: url("../../images/maps-tablet@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
