.page,
.page__body {
  height: 100%;
  width: 100%;

  .page-main {
    flex-grow: 1;
  }
}

.page--catalog {
  .main-header::after {
    display: none;
  }

  .main-nav__link {
    color: $black;
  }

  .main-nav__item--current::after {
    background-color: $basic-green;
  }
}

.page__body-index {
  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 50%;
      height: 697px;
      right: 0;
      top: 0;
      background-image: url("../../images/main-back-cat@2x.jpg");
      background-repeat: no-repeat;
      background-color: $background-hero;
      background-size: 1040px 697px;
      background-position: left 0 top 0;
      z-index: -1;
    }
  }
}

.page__main-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(90deg, $white 50%, rgba(104, 183, 56, 0.85) 50%);
    background-repeat: no-repeat;
    background-size: 100% 697px;
  }
}
