.section-header {
  display: flex;
  justify-content: center;

  .section-header__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: $white;
  }

  .section-header__text {
    font-size: 14px;
    line-height: 14px;
    color: $white;
    text-transform: uppercase;
  }

  .section-header__link {
    text-decoration: none;
  }


  //! планшетная версия

  @media (min-width: $tablet-width) {
    .section-header__title {
      color: $black;
      font-size: 60px;
      line-height: 60px;
    }

    .section-header__text {
      color: $black;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
    }

    .section-header__link {
      font-size: 20px;
      line-height: 26px;
      width: 244px;
    }
  }
}
