.section-additionally {
  @include display-flex;
  position: relative;

  .section-additionally__container {
    padding-bottom: 40px;
  }
}

.section-additionally__list {
  margin: 35px 0;
}

.section-additionally__item {
  padding: 13px 0 19px;
  position: relative;

  &:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    height: 1px;
    width: 100%;
    background-color: $basic-special-gray;
  }

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: $basic-special-gray;
  }
}

.section-additionally__text {
  color: $basic-dark-gray2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}

.section-additionally__about {
  display: flex;
  justify-content: space-between;
  font-family: "lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  font-weight: 400;
  color: $basic-dark-gray;
}

.section-additionally__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .section-additionally {
    .section-additionally__container {
      padding-bottom: 80px;
    }
  }

  .section-additionally__list {
    margin: 80px 0 70px;
  }

  .section-additionally__item {
    border-right: 1px solid $basic-special-gray;
    border-left: 1px solid $basic-special-gray;
    padding: 26px 38px 28px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "text   about"
      "button button";
  }

  .section-additionally__text {
    font-size: 20px;
    line-height: 20px;
    grid-area: text;
    margin-bottom: 25px;
  }

  .section-additionally__about {
    padding: 3px 2px 0;
    gap: 50px;
    grid-area: about;
    margin: 0;
    font-size: 16px;
    line-height: 20px;

    &--special {
      gap: 59px;
    }
  }

  .section-additionally__button {
    grid-area: button;
  }
}

@media (min-width: $desktop-width) {
  .section-additionally {
    .section-additionally__container {
      display: grid;
      grid-template-areas:
        "title   title"
        "product wrapper";
      grid-template-columns: 1fr auto;
      padding-bottom: 96px;
    }
  }

  .section-additionally__title {
    grid-area: title;
  }

  .section-additionally__list {
    grid-area: product;
    margin: 80px 81px 0 0;
  }

  .section-additionally__item {
    border: none;
    display: flex;
    align-items: center;
    padding: 15px 0 17px;
  }

  .section-additionally__text {
    margin: 0;
    margin-right: auto;
  }

  .section-additionally__about {
    min-width: 285px;
    width: min-content;
    margin: 5px 40px 0 0;
    padding: 0;

    &--special {
      margin-right: 50px;
      min-width: 275px;
    }
  }

  .section-additionally__button {
    max-width: 244px;
  }
}
