.section-adress {
  .section-adress__info {
    display: flex;
    justify-content: center;
  }

  .section-address__text {
    color: $basic-dark-gray4;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .section-address__address {
    color: $basic-dark-gray;
    font-family: "lato", sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
}
