
.section-programs__list {
  list-style: none;
}

.section-programs__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.section-programs__text {
  color: $basic-dark-gray;
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.section-programs__link {
  color: $black;
  text-decoration: none;
  text-align: center;
  line-height: 16px;
  text-transform: uppercase;
}
