
.section-example {
  @include display-flex;
  padding: 25px 0 40px;
  background-color: $basic-light-gray;

  .section-example-title {
    margin-bottom: 40px;
  }

  .section-example__text {
    color: $basic-dark-gray;
    font-family: "lato", sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 20px;
  }

  .section-example__list {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .section-example__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      min-height: 56px;
      height: 72%;
      border: 1px solid $basic-special-gray;
      border-radius: 3px;
    }
  }

  .section-example__content {
    padding: 16px;
    min-width: 124px;
    min-height: 56px;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
  }

  .section-example__caption {
    max-width: 70%;
    padding: 0 6px;
    margin-top: -9px;
    z-index: 1;
    background-color: $basic-light-gray;
    color: $basic-dark-gray;
    text-align: center;
    font-family: "lato", sans-serif;
    font-size: 12px;
    line-height: 100%;
  }

  .section-example__container {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    .section-example {
      position: relative;
      background-color: transparent;

      &::after {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        content: "";
        width: 100%;
        height: 462px;
        display: block;
        background-color: $basic-light-gray;
        z-index: -1;
      }

      .section-example__text {
        margin-bottom: 55px;
      }

      .section-example__wrapper {
        display: flex;
        justify-content: space-between;
      }

      .section-example__list {
        margin: 0;
        gap: 43px;
      }

      .section-example__item::after {
        min-height: 72px;
      }

      .section-example__content {
        min-width: 162px;
        min-height: 72px;
        font-size: 30px;
        line-height: 37px;
      }

      .section-example__caption {
        max-width: none;
        padding: 0 10px;
        font-size: 14px;
        line-height: 14px;
        background-color: $white;
      }
    }

    @media (min-width: $desktop-width) {
      .section-example__container {
        width: 50%;
      }

      .section-example__title {
        margin-bottom: 146px;
      }

      .section-example__text {
        margin-bottom: 69px;
      }

      .section-example__wrapper {
        display: flex;
        flex-direction: column;
      }

      .section-example__caption {
        background-color: $basic-light-gray;
      }

      .section-example__item {
        margin-bottom: 55px;
        gap: 42px;
        justify-content: left;
      }
    }
  }
}
