.slider__button {
  cursor: pointer;
  background-color: $basic-dark-gray3;
  border: none;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: -2px;

  &::before {
    content: "";
    background-color: $white;
    border: 2px solid $basic-dark-gray3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  &::after {
    content: "";
    background-color: $basic-dark-gray3;
    border: 2px solid $basic-dark-gray3;
    width: 24px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
    mask-image: url("../../icons/stack.svg#slider-arrow");
    mask-position: 50%;
    mask-size: 24px 18px;
    mask-repeat: no-repeat;
  }
}
