.wrapper {
  width: 245px;
  height: 288px;
  background: url("../../images/gift-background@1x.png") no-repeat rgba(105, 183, 56, 0.85);
  background-size: 245px 288px;
  position: relative;
  z-index: -1;

  .wrapper__text {
    font-family: "lato", sans-serif;
    color: $white;
  }

  .wrapper__text::before {
    content: "";
    width: 80px;
    height: 83px;
    display: block;
    background: url("../../icons/gift-icon.svg");
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    z-index: -1;
    background-color: $background-green;
  }
}
