
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 290px;
  background: url("../../images/gift-background@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    z-index: -1;
    background-color: $background-green;
  }
}

.wrapper__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 59px 0 0;
  margin: 0;
  max-width: 60%;
  color: $white;
  text-align: center;
  font-family: "lato", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.wrapper__text-gift {
  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    background: url("../../icons/gift-icon.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .wrapper {
    min-height: 200px;
    height: min-content;
    flex-direction: row;
    align-items: normal;
    background-image: url("../../images/gift-background-tablet@1x.png");
  }

  .wrapper__text {
    flex-direction: row;
    max-width: none;
    width: 100%;
    padding: 57px 101px 56px 77px;
  }

  .wrapper__text-gift {
    margin-right: auto;

    &::before {
      width: 82px;
      height: 85px;
    }
  }

  .wrapper__text-caption {
    width: 35%;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    grid-area: wrapper;
    margin-top: 80px;
    width: 245px;
    flex-direction: column;
    align-items: center;
    min-height: 288px;
    background-image: url("../../images/gift-background@1x.png");

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      z-index: -1;
      background-color: $background-green;
    }
  }

  .wrapper__text {
    flex-direction: column;
    gap: 46px;
    padding: 56px 0 40px;
    max-width: 70%;
  }

  .wrapper__text-gift {
    margin: 0;

    &::before {
      width: 80px;
      height: 83px;
    }
  }

  .wrapper__text-caption {
    width: 100%;
    text-align: center;
  }
}
